# Bytecode and cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# Editor/IDE settings
.vscode/
.idea/

# OS files
.DS_Store

# Logs and temp
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Secrets (if using dotenv)
.env

# model  and data file
*.pt
*.csv
*.parquet

# logging
wandb/